## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
t = 5
print(t)

5

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
type(t)

int

4) Crear una variable que contenga tu nombre

In [5]:
nombre = "Tatiana"

5) Crear una variable que contenga un número complejo

In [6]:
numero_complejo = 5+ 3j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
print(type(numero_complejo))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [8]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [9]:
first = "True"
second = True
first == second

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [13]:
print("La primera variable es tipo", type(first))
print("La primera variable es tipo", type(second))

La primera variable es tipo <class 'str'>
La primera variable es tipo <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [14]:
suma = 10 + 20.4

11) Realizar una operación de suma de números complejos

In [17]:
a = 2j + 3j
print(a)

5j

12) Realizar una operación de suma de un número real y otro complejo

In [18]:
a = 2
b = 5j
c = a + b
print(c)

(2+5j)

13) Realizar una operación de multiplicación

In [19]:
a = 2 * 20
print(a)

40

14) Mostrar el resultado de elevar 2 a la octava potencia

In [20]:
potencias = 2**8
print(potencias)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [22]:
cociente = 27/4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [23]:
print(27 // 4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [24]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [25]:
6 * 4 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [26]:
var1 = "Amo"
var2 = "Viajar"
print(var1 + " " + var2)

Amo Viajar

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [28]:
2 == "2" #2 es un int y "2" es un string, no son el mismo tipo de dato.

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [29]:
2 == int("2")

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [32]:
a = float("3.8") #Float va con punto no con coma.
print(a)

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [35]:
var = 3
var -=1
print(var)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [36]:
1 << 2 
#El resultado es 4 ya que al correr el número 1 sería 0001, al correr las
#dos posiciones a la izquierda, quedaría 0100, se asigna 2 a cada espacio 
#se eleva a la potencia iniciando en ceros desde el número más cercano a la 
#izquierda y se suman los resultados, en este caso 2 elevado 2 = 4.

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [37]:
2 + "2"
#Esta operación arroja error debido que en python gracias a su fuerte tipado
#no es posible sumar dos elementos de distinto tipo, para que esto funcione
#debemos convertir por ejemplo el str en int.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [39]:
"Tatiana " * 3

'Tatiana Tatiana Tatiana '